<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangfan.xiang.persist.mapper.demo.emp.SalGradeMapper">

	<!-- 
	<resultMap id="DemoPoResultMap" type="com.ccb.jrsc.demo.po.DemoPo">
		<id property="stringField" column="STRINGFIELD" jdbcType="VARCHAR"/>
		<result property="intField" column="INTFIELD" jdbcType="INTEGER"/>
		<result property="longField" column="LONGFIELD" jdbcType="BIGINT"/>
		<result property="booleanField" column="BOOLEANFIELD" jdbcType="BOOLEAN"/>
		<result property="dateField" column="DATEFIELD" jdbcType="TIMESTAMP"/>
		<result property="doubleField" column="DOUBLEFIELD" jdbcType="DOUBLE"/>
		<result property="bigdecimalField" column="BIGDECIMALFIELD" jdbcType="DECIMAL"/>
	</resultMap>
	 -->
	
	<resultMap id="SalGradeResultMap" type="com.yangfan.xiang.model.po.demo.emp.SalGrade">
		<id property="grade" column="grade" jdbcType="INTEGER"/>
		<result property="losal" column="losal" jdbcType="DOUBLE"/>
		<result property="hisal" column="hisal" jdbcType="DOUBLE"/>
	</resultMap>
	 
	<insert id="savePojo" parameterType="com.yangfan.xiang.model.po.demo.emp.SalGrade">
		INSERT INTO DEMO_SALGRADE ( GRADE, HISAL, LOSAL ) 
		VALUES ( #{grade}, #{losal}, #{hisal} )
	</insert>

</mapper>