/*
 * Smile UI CSS Framework 1.0.2
 *
 * @author yangfan, 2012-05-20
 *
 * @history
 *
 */

/* Set margin、padding
----------------------------------*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,tbody,tr,th,td{margin:0;padding:0}


/* Globe
----------------------------------*/
body {
    font-family: Arial,宋体,Verdana,sans-serif;
    font-size: 12px;
}

li {
	list-style: none outside none;
}

textarea {
	box-shadow: 0 1px 3px rgba(204, 204, 204, 0.95) inset;
    padding: 6px;
    resize: vertical;
}

/* Rewrite jQuery UI CSS
----------------------------------*/
.ui-tabs-nav .ui-icon-close {
	float: left; 
	margin: 0.5em 0.2em 0 0; 
	cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    padding: 5px;
}

.ui-dialog .ui-dialog-content {
    padding: 3px;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 1px;
    margin: 3px 0 0;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 3px;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { 
	opacity: .3; 
	filter:Alpha(Opacity=30);
}

.ui-button-text-only .ui-button-text {
	font-size: 12px;
	padding: 2px 8px;
	line-height: 1.5
}

.ui-jqgrid .ui-jqgrid-titlebar {
	height: 20px;
    padding: 5px 13px 0
}

.ui-jqgrid .ui-userdata {
    height: 25px;
    border-bottom: none;
}
.ui-jqgrid .editable {
	display: block;
    height: 22px;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    display: block;
}

.ui-tabs .ui-tabs-nav {
	padding: 0 1px 0 1px;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 5px 12px
}

.ui-tabs {
    padding: 2px;
}

/*
 * Vertical Tabs functionality
 */
.ui-tabs-vertical {
	/*
	width: 55em;
	*/
}

.ui-tabs-vertical .ui-tabs-vertical-nav {
	padding: 3px 1px 0 1px;
	float: left;
	width: 12em;
	height: auto;
}

.ui-tabs-vertical .ui-tabs-vertical-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-vertical-nav li a {
	display: block;
	width: 80%;
}

.ui-tabs-vertical .ui-tabs-vertical-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
	/*
	padding: 1em;
	float: right;
	width: 40em;
	*/
}
/*
 * Bottom Tabs functionality
 */
/* force a height so the tabs don't jump as content height changes */
.tabs-spacer {
	float: left;
	height: 200px;
}

.ui-tabs-bottom .ui-tabs-bottom-nav {
	clear: left;
	padding: 0 .2em .2em .2em;
}

.ui-tabs-bottom .ui-tabs-bottom-nav li {
	top: auto;
	bottom: 0;
	margin: 0 .2em 1px 0;
	border-bottom: auto;
	border-top: 0;
}

.ui-tabs-bottom .ui-tabs-bottom-nav li.ui-tabs-active {
	margin-top: -1px;
	padding-top: 1px;
}

/*
 *	selectable
 */
.o-selectable { 
	/*
	list-style-type: none; margin: 0; padding: 0; width: 60%;
	*/
	border: 0 none;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 2px;
}
.o-selectable li { 
	border: 1px solid transparent;
    cursor: pointer;
    font-weight: normal;
    margin: 1px 0;
    padding: 3px 5px;
    text-align: left;
}
/*
 *	spinner
 */
.ui-spinner-input {
	margin: 0 20px 0 0;
}

.ui-spinner a.ui-spinner-button {
    border: 1px solid #C5DBEC;
    width: 20px;
}

.ui-spinner .ui-icon {
	left: 1px;
}

/*
 *	blank icon
 */
.o-blank-icon { 
	background-position: 1000px 1000px;
}

/* Smile UI widget base
----------------------------------*/
.o-border-box, .o-border-box * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.o-unselect /*, .o-unselect * */ {
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}

.o-readOnly * {
	cursor: not-allowed;
}

.o-readOnly input,
.o-readOnly textarea {
	opacity: 0.5;
	background-image: none;
	background-color: #EFEFEF;
}

.o-clear {
	overflow: hidden;
	clear: both;
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
}

.o-select-close {
	cursor: pointer;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
	left: 0;
    top: 0;
}

.o-form-item {
	display: inline-block;
	zoom: 1;
	position: relative;
	margin-right: 5px;
	/*
	margin-bottom: 5px;
	*/
}

.o-form-item-ele {
	float: left;
	position: relative;
}

.o-form-item-ele-text {
	padding: 1px 3px;
	border: 1px solid;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #DFEFFC), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #DFEFFC 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #DFEFFC 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #DFEFFC 0%, #FFFFFF 50%);
    background-image: -ms-linear-gradient(bottom, #DFEFFC 0%, #FFFFFF 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr = '#DFEFFC', startColorstr = '#FFFFFF', GradientType = 0);
    background-image: linear-gradient(bottom, #DFEFFC 0%, #FFFFFF 50%);
	border-color: #B5B8C8;
	line-height: 18px;
	height: 22px;
	
	/* 兼容IE7、IE78 */
	*line-height: 15px;
	*height: 18px;
}

.o-form-item-ele-triger {
    height: 22px;
    margin-right: 0;
    border-left-width: 0;
}


.o-form-item-ele-label {
    height: 22px;
	padding: 3px 0 0;
    /*margin-right: 5px;*/
    text-align: left;
    overflow: hidden;
	cursor: default;
    font-weight: normal;
    
    /* 兼容IE7、IE78 */
	*height: 17px;
}

.o-form-item-ele-pre-suf {
	overflow: hidden;
}

.o-form-item-ele-star {
	color: #BD3500;
    font-size: 15px;
    font-weight: bold;
}

/* checked and file
-------------------------------------*/

.o-form-item-ele-checked, .o-form-item-ele-file {
	cursor: pointer;
	display: inline-block;
	margin-right: 5px;
}

.o-form-item-ele-file {
	overflow: hidden;
    padding: 4px 12px;
    position: relative;
}

.o-form-item-ele-checked .o-form-item-ele-checked-box {
	display: inline-block;
    height: 19px;
    margin-right: 6px;
    width: 19px;
	vertical-align: -4px;
}

.o-form-item-ele-checked .o-form-item-ele-checkbox {
	border-radius: 2px 2px 2px 2px;
}

.o-form-item-ele-checked .o-form-item-ele-radio {
	border-radius: 10px 10px 10px 10px;
}

.o-form-item-ele-checked input {
	display: none;
}

.o-form-item-ele-file .o-form-item-ele-file-icon {
	vertical-align: -4px;
	height: 16px;
	width: 16px;
}

.o-form-item-ele-file .o-form-item-ele-file-icon, 
.o-form-item-ele-file .o-form-item-ele-file-text {
	display: inline-block;
	margin-right: 0;
    cursor: pointer;
}

.o-form-item-ele-file input {
    bottom: 0;
    left: 0;
    opacity: 0;
    filter:Alpha(Opacity=0);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    cursor: pointer;
}

.o-form-item-ele-file-detail {
    background-color: #F6F6F6;
    margin: 10px;
    padding: 3px;
    position: relative;
    width: 250px;
}

.o-form-item-ele-file-detail .o-form-item-ele-file-detail-progressbar {
    display: inline-block;
    height: 13px;
    padding-right: 4px;
    width: 90px;
    margin: 2px;
}

.o-form-item-ele-file-detail .ui-progressbar .ui-progressbar-value {
    height: 9px;
    margin: 1px;
}

.o-form-item-ele-file-detail .o-form-item-ele-file-detail-progress {
	display: inline-block;
    vertical-align: 5px;
}

.o-form-item-ele-file-detail .o-form-item-ele-file-detail-close {
    float: right;
}

.o-form-item-ele-file-detail .o-form-item-ele-file-detail-filename {
	display: inline-block;
	line-height: 16px;
    margin: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
}

.o-form-item-ele-file-detail .o-form-item-ele-file-detail-status {
	display: inline-block;
    vertical-align: 6px;
}

/* Invalid
-------------------------------------*/
.o-form-invalid-icon {
    background: url("./images/exclamation.png") no-repeat scroll 2px 3px transparent;
    height: 18px;
    right: -20px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 18px;
}

.o-form-invalid-tip {
	box-shadow: 0 1px 0 0 #D87166 inset, 0 -1px 0 0 #D87166 inset, -1px 0 0 0 #D87166 inset, 1px 0 0 0 #D87166 inset;
    padding: 4px;
    width: 300px;
}

.o-form-invalid-tip-body {
	background: url("./images/exclamation.png") no-repeat scroll 2px 0 transparent;
	padding: 2px;
    padding-left: 22px;
    color: #444444;
    font-size: 11px;
}

.o-form-invalid-tip-body li {
	margin-bottom: 4px;
}

.o-form-invalid-field {
	color: #FF0000 ! important;
    /* border-color: #CC3300 ! important; */
}

.o-iframe {
    background-color: transparent;
    border: 0;
    height: 100%;
    left: 0;
    /*
    position: absolute;
    */
    overflow: auto;
    top: 0;
    width: 100%;
}

.o-hidden {
	display: none;
}

.o-icon-wrap {
	display: inline-block;
	margin-right: 3px;
	vertical-align: -3px;
	cursor: pointer;
}

.opacity0 { 
	opacity: 0; 
	filter:Alpha(Opacity=0);
}

.opacity5 { 
	opacity: 0.5; 
	filter:Alpha(Opacity=50);
}

/* location
----------------------------------*/

.location {
	font-size: 10pt;
	line-height: 25px;
}

/* Box
----------------------------------*/
.box-success {
	background-image: url("images/box/2/check.png");
}
.box-info {
	background-image: url("images/box/2/information.png");
}
.box-error {
	background-image: url("images/box/2/error.png");
}
.box-alert {
	background-image: url("images/box/2/exclamation.png");
}
.box-confirm {
	background-image: url("images/box/2/help.png");
}
.box-construction {
	background-image: url("images/box/2/construction.png");
}

.box {
    background-position: 5px 10px;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    min-height: 100px;
    padding: 16px 0 0 85px;
}

/* Overlays 
----------------------------------*/
.o-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; bottom: 0; right: 0; }
.o-widget-overlay { opacity: .7; filter:Alpha(Opacity=7); background-image: none; }

.o-dialog-loading { 
	background: url("images/loading/loading_006BB9.gif") no-repeat scroll center center #006BB9;
	position: absolute; 
	top: 0; 
	right: 0; 
	left: 0; 
	bottom: 0; 
	width: 100%; 
	height: 100%;
	z-index: 30000;
}

.o-loading-ele { 
	overflow: hidden;
}

/* Table
----------------------------------*/

.o-table-container {
	/*
	font-size: 11px;
	*/
}

.o-table-titlebar, .o-table-container .o-table-titlebar {
	text-align: left;
	height: 27px;
	padding: 0.5em 0.2em 0.2em 0.3em;
	font-size: 11px;
}

.o-table-title, .o-table-container .o-table-titlebar .o-table-title {
    float: left;
    margin: 0.1em 0 0.2em;
}

.o-table-toolbar, .o-table-container .o-table-toolbar {
	height: 27px;
	padding: 1px;
}

.o-table-view, .o-table-container .o-table-view {
	overflow-x: auto;
    overflow-y: hidden;
}

.o-table-toptoolbar-button {
	display: block;
	float: left;
    padding: 1px;
    cursor: pointer;
}

.o-table-toptoolbar-button span {
	margin: 2px;
}

.o-table-toptoolbar-button:hover {
    padding: 0;
}

table.o-table, .o-table-container table.o-table {
    border-collapse: collapse;
    width: 100%;
}

table.o-table td, .o-table-container table.o-table td {
    height: 27px;
    padding: 3px 15px 1px 5px;
    border-right-color: inherit;
    border-right-style: solid;
    border-right-width: 1px;
}

/* oInput4list
----------------------------------*/
.o-list-search, .o-list-pager {
    margin: 0;
    height: 26px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.o-list-search input {
    background: url("images/search.png") no-repeat scroll 100% -22px, -moz-linear-gradient(center bottom , white 85%, #EEEEEE 99%) repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
    margin: 4px 0 0 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: 26px;
}

/* pager
----------------------------------*/
.o-pager-item {
	position: absolute !important;
	border: solid 1px transparent;
    cursor: pointer;
}

.o-pager-text {
	position: absolute !important;
	border: solid 1px transparent;
}

.o-pager-item span {
	margin: 3px;
}

.o-pager-item-hover {
	border-color: #81A4D0;
	background-color: #DBEEFF;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#DBEEFF),color-stop(48%,#D0E7FF),color-stop(52%,#BBD2F0),color-stop(100%,#BED6F5));
	background-image: -webkit-linear-gradient(top,#DBEEFF,#D0E7FF 48%,#BBD2F0 52%,#BED6F5);
	background-image: -moz-linear-gradient(top,#DBEEFF,#D0E7FF 48%,#BBD2F0 52%,#BED6F5);
	background-image: -o-linear-gradient(top,#DBEEFF,#D0E7FF 48%,#BBD2F0 52%,#BED6F5);
	background-image: -ms-linear-gradient(top,#DBEEFF,#D0E7FF 48%,#BBD2F0 52%,#BED6F5);
	background-image: linear-gradient(top,#DBEEFF,#D0E7FF 48%,#BBD2F0 52%,#BED6F5);
}

.o-oinputnumber {
	ime-mode: disabled;
	text-align: right;
}